{% comment %}
The nav items are loaded from the file _data/navigation
{% endcomment %}
<header class="site-header" role="banner">
  <nav>
    <div class="nav-wrapper">
      <a class="brand-logo" rel="author" href="{{ "/" | relative_url }}">{{ site.title }}</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      {%- for item in site.data.navigation -%}
        <li>
          <a class="page-link {% if page.url == item.link %}current{% endif %}" href="{{ item.link }}" >{{ item.name }}</a>
        </li>
      {%- endfor -%}
      </ul>
    </div>
  </nav>
</header>
{% comment %}
{%- include social-short.html -%}
{%endcomment%}

