// Body

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  overflow-x: hidden;
  background-color: color("blue-grey", "darken-4");
  flex: 1 0 auto;
}

.side-img {
  margin-top: 20px;
}
