.tag {
  display: inline;
  background-color: grey;
  color: white;
  border-radius: 12px;
  padding: 0px 5px;
  float: right;
  margin-left: 5px;
}

.tag:visited {
  color: white;
}

.tag:hover {
  color: white;
  text-decoration: none;
  background-color: darkgrey;

}

