<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">


  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main>
      {%- if page.bg -%}
          <video class="video-bg" autoplay muted loop="loop">
            <source src="{{ page.bg }}" type="{{ page.bg-type }}"  />
          </video>
      {%- endif -%}

      <div class="container">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
    <!--JavaScript at end of body for optimized loading-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ "assets/js/materialize.js" | absolute_url }}"></script>
    <script>
      $(document).ready(function(){
        $(".dropdown-trigger").dropdown();
        $('.sidenav').sidenav();
      });
    </script>
  </body>
</html>
