<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">


  {%- include head.html -%}

  <body style="overflow-x: hidden;">

    {%- include header.html -%}

  {%- if page.video -%}
  <div>
    <video class="video-bg" autoplay muted loop="loop">
      <source src="{{ page.video }}" type="video/mp4"  />
    </video>
  </div>
  {%- endif -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
  </body>

</html>
