<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">


  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main>
      {%- if page.bg -%}
      <div class="parallax-container">
        <div class="parallax">
          <video class="video-bg" autoplay muted loop="loop">
            <source src="{{ page.bg }}" type="{{ page.bg-type }}"  />
          </video>
        </div>
      </div>
      {%- endif -%}

      <div class="container">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.parallax');
      var instances = M.Parallax.init(elems, options);
    });
  </script>
  </body>
</html>
