---
layout: default
---

{%- if page.video -%}
<div>
  <video class="video-bg" autoplay muted loop="loop">
    <source src="{{ page.video }}" type="video/mp4"  />
  </video>
</div>
{%- endif -%}


<div class="container">
  <div class="headline">
  {{ content }}
  </div>

  {% include projects.html %}
  {%- if site.posts.size > 0 -%}
  <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
  <ul class="post-list">
    {%- assign posts = site.posts -%}
    {% include related.html postlist=posts top=5 %}
  </ul>
  {%- endif -%}
</div>

